/* Content */
#clock {
    border: 0.5rem solid #d9d9dd;
}

.web-projects--coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 2rem;
    left: 2rem;

    width: 80%;
    margin: 0 auto;
    min-height: 10rem;
    max-height: 15rem;
    padding: 1rem 0;
    margin-bottom: 2rem;

    border-radius: 2rem;
    background-color: rgb(199, 199, 199, 0.3);
    margin-top: 3rem;
    text-align: center;
    line-height: normal;
    z-index: 1;
}

.web-projects--coming-soon::after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    border-radius: 2rem;
    border: 0.5rem solid #3d3d3d;
    background-color: rgb(199, 199, 199);
    z-index: -1;
}

.coming-soon--content {
    position: relative;
    top: -2rem;
    left: -2rem;
}

.coming-soon--img {
    font-size: 5rem;
}

/* Card */
.web-projects--card {
    width: 80%;
    overflow: hidden;
    margin: 3rem auto 0;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    transition: 1s ease;
}

.web-projects--card:hover {
    box-shadow:
        0px 1.9px 2.5px rgba(0, 0, 0, 0.031),
        0px 4.6px 6px rgba(0, 0, 0, 0.044),
        0px 8.6px 11.3px rgba(0, 0, 0, 0.055),
        0px 15.4px 20.1px rgba(0, 0, 0, 0.066),
        0px 28.8px 37.6px rgba(0, 0, 0, 0.079),
        0px 69px 90px rgba(0, 0, 0, 0.11);

    transform: translate(0, -10%);
}

.card--img {
    display: flex;
    align-items: center;
    height: 10rem;
}

.card--img>img {
    width: 30vw;
    position: relative;
    left: -5%;
}

.card--content {
    padding: 1rem 2rem;
    position: relative;
    left: -0.25rem;
}

.content--link {
    position: relative;
    font-size: 2rem;
    line-height: normal;
}

.content--link:hover {
    color: #FFD52C;
}

.content--link::after {
    content: ' ';
    background: #FFD52C;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 0.25rem;
    border-radius: 2rem;
    transition: all 0.3s cubic-bezier(0.72, -0.26, 0.3, 1.25);
}

.content--link:hover::after {
    width: 100%;
}

.content--text {
    margin-top: 1rem;
}

.content--tools {
    margin-top: 1rem;
    font-size: 2.25rem;
}

.content--tools>i {
    font-size: inherit;
}