/* Content */
#clock {
    border: 0.5rem solid #d9d9dd;
}

#color {
    border: 0.5rem solid #6f1271;
}

/* Card */
.web-projects--card {
    width: 80%;
    overflow: hidden;
    margin: 3rem auto 0;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    transition: 1s ease;
}

.web-projects--card:hover {
    box-shadow:
        0px 1.9px 2.5px rgba(0, 0, 0, 0.031),
        0px 4.6px 6px rgba(0, 0, 0, 0.044),
        0px 8.6px 11.3px rgba(0, 0, 0, 0.055),
        0px 15.4px 20.1px rgba(0, 0, 0, 0.066),
        0px 28.8px 37.6px rgba(0, 0, 0, 0.079),
        0px 69px 90px rgba(0, 0, 0, 0.11);

    transform: translate(0, -10%);
}

.card--img {
    display: flex;
    align-items: center;
    height: 10rem;
}

.card--img>img {
    width: 30vw;
    position: relative;
    left: -5%;
}

.card--content {
    padding: 1rem 2rem;
    position: relative;
    left: -0.25rem;
}

.content--link {
    position: relative;
    font-size: 2rem;
    line-height: normal;
}

.content--link:hover {
    color: #FFD52C;
}

.content--link::after {
    content: ' ';
    background: #FFD52C;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 0.25rem;
    border-radius: 2rem;
    transition: all 0.3s cubic-bezier(0.72, -0.26, 0.3, 1.25);
}

.content--link:hover::after {
    width: 100%;
}

.content--text {
    margin-top: 1rem;
}

.content--tools {
    margin-top: 1rem;
    font-size: 2.25rem;

    display: flex;
    align-items: center;
}

.material-icons {
    margin-right: 0.25rem;
}

.content--tools>img {
    width: 2rem;
}

.content--tools>i {
    font-size: inherit;
}