/* Header */
.header {
    z-index: 1;
    position: fixed;
    width: 80%;
    left: 10%;
    border-radius: 0 0 2rem 2rem;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.75rem);
    -moz-backdrop-filter: blur(0.75rem);
    -webkit-backdrop-filter: blur(0.75rem);

    box-shadow:
        0px 1.9px 2.5px rgba(0, 0, 0, 0.031),
        0px 4.6px 6px rgba(0, 0, 0, 0.044),
        0px 8.6px 11.3px rgba(0, 0, 0, 0.055),
        0px 15.4px 20.1px rgba(0, 0, 0, 0.066),
        0px 28.8px 37.6px rgba(0, 0, 0, 0.079),
        0px 69px 90px rgba(0, 0, 0, 0.11);

}

.header--wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.25rem 0 0.5rem 0;
}

.header--logo>p {
    padding: 0.25rem 0;
    font-size: 2.5rem;
    cursor: default;
}

.header--nav {
    color: white;
}

.nav--list {
    display: flex;
    flex-direction: row;
}

.nav--item {
    position: relative;
    margin: 0 1.5rem;

    transition: all 0.3s ease-in-out;
}

.nav--item:hover {
    color: #FFD52C;
}

.nav--item:hover>.current {
    width: 100%;
}

.header--disappear {
    display: none;
}

.header--appear {
    z-index: 2;
    display: none;
}

@media screen and (max-width: 425px) {
    .header {
        font-size: 3rem;
        line-height: normal;
        top: -50%;
        transition: top 0.6s ease-in-out;
    }

    .header.appear {
        top: 0;
    }

    .header--appear.disappear {
        top: -6rem;
    }

    .header--wrap {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .nav--list {
        flex-direction: column;
        align-items: center;
    }

    .header--disappear {
        display: block;
        position: absolute;
        right: 1rem;

        font-size: 3rem;
    }

    .header--appear {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;

        font-size: 3rem;
        transition: 0.5s cubic-bezier(0.90, -0.70, 0.32, 1.45);
    }
}