/* Section */
.section--information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section--text {
    position: relative;
    top: -2rem;
    margin-right: 2rem;
}

.section--img {
    position: relative;
    top: -7rem;
    left: 3rem;
    max-width: 60vh;
    min-width: 30vw;
}