/* Section */
.section--information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section--text {
    position: relative;
    top: -2rem;
    margin-right: 2rem;
}

.section--img {
    position: relative;
    top: -7rem;
    left: 3rem;
    max-width: 60vh;
    min-width: 30vw;
}

@media screen and (max-width: 425px) {
    .section--information {
        flex-direction: column;
    }

    .section--text {
        top: 0rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .section--img {
        top: 0rem;
        left: 0rem;
        max-width: 35vh;
    }
}